@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;900&family=Josefin+Sans:ital,wght@1,700&family=Lobster&family=M+PLUS+1+Code:wght@600&family=Poppins:ital,wght@1,500&display=swap');
.App {
  /* text-align: center; */
  background-color: #282c34;
  width: 100%;
  height: 100%;
  color: #61dafb;
}


/* /////////////////////////////////////////////////// */
.foods_container{
  display: flex;
  justify-content: space-around;
  
}

.food_container{
width: 30%;
text-align: center;
font-family: 'Inconsolata', monospace;

}
.food_name{
font-weight: bolder;
font-size: xx-large;
}

.food_description{

}

.food_pic{
  width:100% ;
  border-radius: 9px;
}


/* ////////////////////////////////////////////////// */

.workers_container{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.worker_container{
  width: 30%;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.worker_pic{
  width:100% ;
  border-radius: 9px;
}

.worker_name{
  font-weight: bolder;
font-size: xx-large;
}